.mainNav {
    display: flex;
    gap: 20px;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.btn {
    padding: 5px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
}

.btn:hover {
    scale: 1.003;
    background-color: rgb(12, 120, 170);
    color: white;
    border-radius: 5px;
}

.active {
    background-color: rgb(31, 31, 94);
    color: white;
    border-radius: 5px;
}